@font-face {
  font-family: 'Star Wars Font';
  src: url('src/fonts/Starjedi.ttf') format('truetype');
}
.star-wars-title,
.navbar-nav,
.nav-link,
.next-button,
.previous-button {
  font-family: 'Star Wars Font', sans-serif;
}